@use "variables" as *;
/* web/src/styles/_media.scss */

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Common media wrappers */
.media {
  overflow: hidden;
  border-radius: $radius-lg;
}

.media--cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card media placeholder ratios */
.ratio-16x9 {
  aspect-ratio: 16 / 9;
}
.ratio-4x3 {
  aspect-ratio: 4 / 3;
}
.ratio-1x1 {
  aspect-ratio: 1 / 1;
}
