@use "variables" as *;

// Flex Utilities
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Card Component
@mixin card {
  background-color: $white;
  border-radius: $radius-md;
  border: 1px solid $color-border;
  box-shadow: $shadow-lg;
  padding: $spacing-md;
}
