@use "variables" as *;

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 8px;
    border-bottom: 1px solid $border;
    text-align: left;
  }

  th {
    background: $bg-light;
    font-size: 14px;
    font-weight: 600;
  }

  tr:hover {
    background: $bg;
  }
}
